/* css styles */

main{
  font-size: 18.5px;
}

/*
h5{
  font-weight: bold;
}
*/

.card-title {
    margin-bottom: var(--bs-card-title-spacer-y);
    color:var(--bs-card-title-color);
    font-weight: bold
}

.card-subtitle {
    margin-top: calc(-0.5 * var(--bs-card-title-spacer-y));
    margin-bottom: 0;
    color:var(--bs-card-subtitle-color);
    font-size: 15px
}

/*
footer{
  font-size: 20px;
}

.test{
  color:red;
  font-size: 30px;
}
*/

/*
.first-letter {
  font-size: 40px;
  font-weight: bold;
  line-height: 70px;
}
*/

.subhead::first-letter {
  initial-letter: 2.5;
  padding-right: 2px;
}

/*
p.drop-cap {
  min-height: 0px;
}
*/

.drop-cap:first-letter {
  color: #007373;
  float: left;
  font-family: Serif;
  font-size: 60px;
  font-weight: bold;
  font-style: normal;
  line-height: 54px;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.callout-note {
  border-left-color: #007373 !important;
}

.PDF{
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  a:link {
  color: #007373;
  a:visited {
  color: #007373;
}