/* css styles */


.card-title {
    margin-bottom: var(--bs-card-title-spacer-y);
    color:var(--bs-card-title-color);
    font-size: 50px
}

.card-subtitle {
    margin-top: calc(-0.5 * var(--bs-card-title-spacer-y));
    margin-bottom: 0;
    color:var(--bs-card-subtitle-color);
    font-size: 15px
}
